{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<div class="column contacts">
    {# <div class="preview person">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Email: {{ app.user.email }}</p>
        {% endif %}
    </div> #}
    <h2>List of contacts</h2>
    <div class="scroll-item">
        <div class="item-list contacts">
            {% for contact in contacts %}
                <div class="item contacts">
                    <div class="details">
                        <div class="avatar"></div>
                        <div class="name">{{contact.name}}</div>
                        <div class="phone">{{contact.phone}}</div>
                        <div class="buttons">
                            <a class="edit-btn" href="{{path('contact_edit', {id: contact.id})}}">Edit</a>
                            <form action="{{path('contact_share', {id: contact.id})}}" method="POST">
                                <button class="submit-btn share-btn" type="submit">Share</button>
                            </form>
                        </div>
                        <form action="{{path('contact_delete', {id:contact.id})}}" method="POST" class="delete">
                            <button class="submit-btn delete-btn" type="submit">+</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
